<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-main border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a class="navbar-brand text-main" asp-area="" asp-controller="Home" asp-action="Index">Паркинг</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>


            @if (User.Identity.IsAuthenticated)
            {
                @*==== Logout and Profile button ====*@
                <div class="row">
                    <div class="col">
                        <a asp-controller="Auth" asp-action="Logout" class="btn btn-main-second">Излизане</a>
                        <button type="button" class="btn btn-main-second float-right ml-2" data-toggle="modal" data-target="#profile">
                            Профил
                        </button>
                    </div>
                </div>
            }
            else
            {
                @* ==== Login button ==== *@
                <div class="row">
                    <div class="col">
                        <a asp-controller="Auth" asp-action="Login" class="btn float-right btn-main-second">Влизане</a>
                    </div>
                </div>
            }
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
<script>
$(document).ready(function(){
    // Enables bootstrap tooltips
    $('[data-toggle="tooltip"]').tooltip();
    
    // Opens the Messages modal
    $('#on-msg-modal-true').modal('show');
});
</script>
</body>
</html>