@model ReservationViewModel


<input type="image" src="free_space.png" alt="empty" class="btTxt submit mx-auto d-block free-space-img" data-toggle="modal" data-target="#id_@Model.Space"/>

<div class="modal fade" id="id_@Model.Space" tabindex="-1" role="dialog" aria-labelledby="id_@Model.Space" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        @if (User.Identity.IsAuthenticated)
        {
            <form class="modal-content" asp-controller="Home" asp-action="Reserve" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Място @Model.Space</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container color-bg">
                        <div class="row">
                            <div class="col pt-5">
                                <h3 class="text-center color-text">Резервиране</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col p-5">
                                <div class="row">
                                    <div class="col form-group">
                                        <label class="text-center color-text">Място</label>
                                        <input asp-for="Space" class="form-control" type="number" value="@Model.Space" readonly/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <label class="text-center color-text">От</label>
                                        <input asp-for="From" class="form-control" type="date" min=@ViewData["minDate"] max=@ViewData["maxDate"] value=@ViewData["date"] data-toggle="tooltip" title="Максималният период за запазване е 1 седмица и не-повече от 1 месец напред във времето.">
                                    </div>
                                    <div class="col form-group">
                                        <label class="text-center color-text">До</label>
                                        <input asp-for="To" class="form-control" type="date" min=@ViewData["minDate"] max=@ViewData["maxDate"] value=@ViewData["date"] data-toggle="tooltip" title="Максималният период за запазване е 1 седмица и не-повече от 1 месец напред във времето.">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <label class="text-center color-text">Прикачи график (pdf) до 2MB</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <label asp-for="Schedule" class="custom-file-label">Избери файл</label>
                                                <input asp-for="Schedule" type="file" class="custom-file-input" data-toggle="tooltip" title="Само при заемане на паркомясто за повече от 2 дни.">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col form-group">
                                        <label class="text-center color-text">Смяна (период)</label>
                                        <select asp-for="Shift" class="custom-select">
                                            <option value="0" selected>Избери смяна</option>
                                            <option value="1">1ва (08:00 - 14:00)</option>
                                            <option value="2">2ра (14:00 - 21:00)</option>
                                            <option value="3">Целодневна (09:30 - 18:30)</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" asp-controller="Home" asp-action="Reserve" class="btn btn-primary btn-lg btn-block">Резервирай!</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                </div>
            </form>
        }
        else
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Място @Model.Space</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container color-bg rounded">
                        <div class="row">
                            <div class="col p-3">
                                <p class="h5 text-center color-text p-5">Трябва да си влязъл в профила си за да запазваш нови места!</p>
                                <a asp-controller="Auth" asp-action="Login" class="btn btn-lg btn-block btn-primary">Влизане в профила</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                </div>
            </div>
        }
    </div>
</div>